@page "/genres"

@inject IBookService BookService
@inject ICommonService CommonService

<PageTitle>All Genres | BookStoreMaui</PageTitle>

<SectionContent SectionName="PageTitle">
    @if (CommonService.IsWeb)
    {
        <h1 class="m-0 text-white fw-bold">All Genres</h1>
    }
    else
    {
        <span>All Genres</span>
    }
</SectionContent>
<div class="bg-white">
    <div class="container bg-white">
        <div class="row">
            @foreach (var g in _genres)
            {
                <div class="col-6 col-sm-3 mb-4 mt-3">
                    <a href="/?genre=@g.Slug" title="@g.Name Books" class="bg-white p-3 d-flex justifiy-content-center align-items-center heading">@g.Name</a>
                </div>
            }
        </div>
    </div>
</div>


@code {
    private GenreDto[] _genres = [];

    protected override async Task OnInitializedAsync()
    {
        CommonService.ShowLoader("Fetching genres...");
        _genres = await BookService.GetGenresAsync(topOnly: false);
        CommonService.HideLoader();
    }
}
